#title, .center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button.center{
	width: 10rem;
	height: 4rem;
	margin-top: 1rem;
}

button.center:hover {
	background-color: lime;
}

button.center:active {
    background-color: green;
}


#title{
	color:red;
	text-align: center;
}

#title:hover{
	color:green;
	text-align: center;
}

body{
	background-color:gray;
}
